* {
    margin: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: row;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.img-perfil {
    max-width: 100%;
    max-height: 100%;
}

.side-link-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    text-align: center;
    color: #FFFFFF;
    height: 100vh;
    width: 260px;
    padding: 6px 24px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

#nome {
    margin-top: 1em;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
}

#button-sair {
    color: red;
}

#button, #button-sair {
    list-style: none;
    padding: 6px;
}

a {
    text-decoration: none;
    color: inherit;
}

.side-info {
    align-items: center;
    width: 80%;
}

.container-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
}

.dashboard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

.marca-beefore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.dashboard-frase {
    color: var(--primary);
    font-size: 30px;
}