main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    height: 2em;
    margin: 5px;
}

.register {
    display: none;
}