* {
    margin: 0;
    box-sizing: border-box;
}

.registro-coordenador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 73vw;
    height: 90vh;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border: 2px solid rgba(83, 83, 83, 0.411);
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}

.container-registro-coordenador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.2em;
    padding: 0px 150px;
}

.container .container-registro-coordenador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.container .container-registro-coordenador .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 550px;
    height: 200px;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 20px;
    background-color: #ECF0F1;
    text-align: center;
    color: var(--primary);
}

.identificacao-usuario {
    padding-left: 30px;
    text-align: left;
}

#linha-vertical {
    height: 150px;
    border-right: 3px solid var(--primary);
}

.box {
    border: 3px solid var(--primary);
}

.perfil-registro #foto-perfil-registro {
    width: 100px;
    border-radius: 100px;
    margin: 0px 20px 0px 5px;
}

.pesquisa-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.pesquisa-registro input {
    font-size: medium;
    font-weight: 400;
    margin: 5px;
    border: none;
    width: 80%;
    height: 2.2em;
}

.box-registro-coordenador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-icone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    margin: 8px;
    width: 100%;
}

.input-icone img {
    width: 13%;
    cursor: pointer;
}

input {
    background-color: var(--background);
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px var(--background)inset;
  transition: background-color 5000s ease-in-out 0s;
}

.pesquisa-registro h2 {
    font-size: medium;
}

.box-registro-title {
    font-size: medium;
}

.load-wheel {
    border: 10px solid var(--primary);
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin 2s linear infinite;
}

#loading {
    display: none;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 750px){
    .registro-coordenador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90vw;
        height: 80vh;
        padding: 20px;
        margin: 20px 10px;
        border-radius: 20px;
        background-color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        color: var(--primary);
    }

    .container-registro-coordenador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 1em;
        padding: 0px 10px;
    }

    .container .container-registro-coordenador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .container .container-registro-coordenador .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 130px;
        padding: 10px;
        margin: 20px 0px;
        border-radius: 20px;
        background-color: #ECF0F1;
        text-align: center;
        color: var(--primary);
    }

    .identificacao-usuario {
        padding-left: 10px;
        text-align: left;
        font-size: small;
    }

    #linha-vertical {
        height: 100px;
        border-right: 3px solid var(--primary);
    }

    .perfil-registro #foto-perfil-registro {
        width: 70px;
        border-radius: 100px;
        margin: 0px 10px 0px 0px;
    }
}